body {
	background: #FFFFFB;
}

#wrap {
	background: white;
	margin: 50px auto;
	width: 500px;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	box-shadow: 2px 2px 20px #c0c0c0;
	padding: 0px 25px 25px 25px;
}

.optionlabel {
	width: auto;
	font-size: 12pt;
	font-weight: bold;
	
	
	border-bottom: 1px dotted gray;
}

.optiondesc {
	margin-top: 10px;
}

.optionitem {
	margin-top: 15px;
}

#opacityslider {
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}

#opacityvalue {
	display: inline-block;
}

#radiostorage {
	display: inline-block;
}

#saveoptions {
	float: right;
	margin-right: 25px;
}

#clear {
	clear: both;
	margin-top: 50px;
}